<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - About</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <header>
        <nav class="row">
            <div class="logo col">Capybara</div>
        </nav>
    </header>

    <main>
        <div class="container d-flex align-items-center justify-content-center flex-column p-5">
            <section>
                <h1>About Capybara Extension</h1>
                <p>The Capybara Extension is a powerful browser extension that enhances your YouTube
                    experience. With this handy tool, you can effortlessly download both video and audio content from
                    YouTube. Here’s what it offers:
                <ol>
                    <li>
                        Download Media
                    </li>
                    <li>
                        Get Video Info
                    </li>
                </ol>
                </p>
            </section>

            <section>
                <h1>How to use it?</h1>
                <p>Watch this easy tutorial video to learn.
                </p>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/RMETSEf99vY?autoplay=1&mute=1">
                </iframe>
            </section>

            <section>
                <h1>Supporting formats</h1>
                <p>
                <table>
                    <tr>
                        <th>Format</th>
                        <th>Quality</th>
                    </tr>
                    <tr>
                        <td>Mp4</td>
                        <td>340p, 720p</td>
                    </tr>
                    <tr>
                        <td>Webp</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mp3</td>
                        <td></td>
                    </tr>
                </table>
                </p>
            </section>

            <section>
                <h1>Our future plans</h1>
                <p>We are currently working on the use of A.I. in "Capybara Extension". In the future, you will be able
                    to generate comments for YouTube videos by using the Capybara extension. And you will also be able
                    to generate the memarization of YouTube videos. So if you want to take advantage of this facility,
                    then definitely subscribe to our newsletter. If you have already created an account then you do not
                    need to subscribe. The first 10 subscribers will be able to send 12 requests for free.
                </p>
            </section>

            <section>
                <h1>Support my work</h1>
                <p>If you like my work. Please do support me. Right now all you can do is follow me on social media
                    platforms.
                </p>
            </section>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="js/conf.js"></script>
    <script src="js/about.js"></script>
</body>

</html>