<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - change password</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/changePasswordForUser.css">
   
</head>

<body>

    <div class="container fp-container">
        <h1 class="fp-head">Change Password</h1>
        <form class="fp-form" action="">
            <p class="fp-message text-center">Enter New Password to Change, We will send Verification code at your new
                Password.
            </p>
            <div class="form-input-container">
                <div class="form-input-container">
                    <input required type="password" class="text-center" name="fp-password-input" id="fp-password-input"
                        placeholder="New Password">
                </div>
                <br>
                <div class="form-input-container">
                    <input required type="password" class="text-center" name="fp-confirm-password-input"
                        id="fp-confirm-password-input" placeholder="Confirm Password">
                </div>
            </div>
            <div class="fp-form-btn-container">
                <button type="submit" id="fp-form-btn">Change</button>
            </div>
        </form>
    </div>


    <div class="container login-container dis-none">
        <div class="verificationCard flex-column-and-centered">
            <h1>Change Password</h1>
            <p class='verificationCardMessage'>
                Please enter the verification code that<br />has been sent to your email address
            </p>
            <form id="email-verifying-form" class="flex-column-and-centered">
                <div class="verification-code-inputs">
                    <input type="text" class="inputBoxes ta-center" id="inputBox1" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox2" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox3" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox4" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox5" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox6" maxlength="1" minlength="1" required>
                </div>
                <button type='submit' class='verifyBtn'>Verify</button>
            </form>
            <div class='vc-form-footer d-flex flex-row justify-content-center align-items-center'>
                <button type="button" id="goBackBtn" class='forget-password-form-footer-btn text-decoration-none'>Go
                    Back</button>
            </div>
        </div>
    </div>

    <div class="message-pop dis-none">
        <div class="cross-btn-container">
            <button type="button" class="cross-btn">✗</button>
        </div>
        <div class="message-pop-inner-container">
            <div class="head">Uh oh!</div>
            <div class="message"></div>
        </div>
    </div>

    <div class="loading-window dis-none">
        <div class="loading-window-img-container">
            <span class="loader"></span>
        </div>
        <div class="loading-window-heading">
            <h1>Purr Purr Loading...</h1>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script src="js/conf.js"></script>
    <script src="js/changePasswordForUser"></script>
</body>

</html>