<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - Home</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/intro.css">
</head>

<body>
    <header>
        <nav class="row">
            <div class="logo col">Capybara</div>

            <div class="authBtn col-5">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <section class="section section1 row">
                <div class="sec-image col">
                    <div class="image-container image1">
                        &nbsp;
                    </div>
                </div>

                <div class="sec-text col">
                    <div class="sec-text-head max-width">
                        <h2>Comprehensive YouTube Video Downloader</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        <p>The Capybara extension provides robust support for all major browsers. With our tool, you can
                            seamlessly download videos with audio or opt for audio-only downloads. Choose from the
                            highest-quality MP4 or WebP formats for video downloads, and MP4 for audio files.</p>
                    </div>

                    <div class="sec-text-btn">
                        <button id="signup-btn">Sign Up</button>
                    </div>
                </div>
            </section>

            <section class="section section2 row">
                <div class="sec-text col align-items-end">
                    <div class="sec-text-head max-width">
                        <h2>Unlock the Power of Capybara Extension - Now Available for Free</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        <p>Experience the freedom of Capybara extension, accessible to all users at no cost. Our
                            extension requires an access token, which you can obtain from our official website. Rest
                            assured, you'll have complete visibility into who is utilizing your token.</p>
                    </div>

                    <div class="sec-text-btn"><button id="download-btn">Download</button></div>
                </div>

                <div class="sec-image col">
                    <div class="image-container image2">
                        &nbsp;
                    </div>
                </div>
            </section>

            <section class="section section3 row">
                <div class="sec-image col">
                    <div class="image-container image3">
                        &nbsp;
                    </div>
                </div>

                <div class="sec-text col">
                    <div class="sec-text-head max-width">
                        <h2>Unfamiliar with the Usage? Fear Not, We've Got You Covered</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        Simply click on the "About" button to access our user-friendly documentation. Discover how to
                        utilize this extension effortlessly - it's designed for seamless navigation.</p>
                    </div>

                    <div class="sec-text-btn"><button id="about-btn">About</button></div>
                </div>
            </section>

        </div>
    </main>

    <footer class="footer">
        <div class="footer-inner-container">
            <form action="" class="news-latter-form">
                <div class="news-latter-form-head">
                    <div class="news-latter-form-head-heading">SUBSCRIBE</div>
                    <div class="news-latter-form-head-para">To our news latter</div>
                </div>

                <input type="email" class="news-latter-form-input" required>

                <div class="news-latter-form-massage">
                    We’ll notify you first whenever we do any changes in our application or extension. <br />To stay
                    updated please subscribe to our news latter.<br />You can unsubscribe it anytime
                </div>

                <button class="news-latter-form-btn" type="submit">
                    Subscribe
                </button>
            </form>
            <div class="news-latter-links">
                <div class="news-latter-links-container">
                    <div class="links-col">
                        <div class="links-row-heading">About Me</div>
                        <a href="https://github.com/HarshGaur387R" class="links" target="_blank">Github</a>
                        <a href="https://www.linkedin.com/in/harsh-gaur-a0b525217/" class="links"
                            target="_blank">LinkedIn</a>
                        <a href="#" class="links">Portfolio</a>
                    </div>
                    <div class="links-col">
                        <div class="links-row-heading">Follow</div>
                        <a href="https://www.instagram.com/heerokuun/" class="links" target="_blank">Instagram</a>
                        <a href="https://www.facebook.com/profile.php?id=61556928359874" class="links"
                            target="_blank">Facebook</a>
                        <a href="https://twitter.com/hgaur701" class="links">Twitter</a>
                    </div>
                    <div class="links-col">
                        <div class="links-row-heading">Ask Support</div>
                        <a href="mailto:capybaramailservice@gmail.com" class="links" target="_blank">Gmail</a>
                        <a href="https://discord.gg/wGE5afya" class="links" target="_blank">Discord</a>
                        <a href="#" class="links">Whats's App</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="message-pop dis-none">
        <div class="cross-btn-container">
            <button type="button" class="cross-btn">✗</button>
        </div>
        <div class="message-pop-inner-container">
            <div class="head">Uh oh!</div>
            <div class="message"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="js/conf.js"></script>
    <script src="js/intro.js"></script>
</body>

</html>