<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - Home</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Jua&display=swap');

        :root {
            --var1: -220px;
        }

        body {
            overflow-x: hidden;
            background-color: #1E1E1E;
        }

        .logo {

            padding: 10px 0px 10px 35px;
            color: #FFF;
            font-family: "Leckerli One";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
        }

        .authBtn {

            display: flex;
            justify-content: end;
            align-items: center;
            padding: 0px 35px 0px 0px;
            gap: 25px;
        }

        .authBtn a {
            text-decoration: none;
            color: #EC9C00;
            font-family: Jua;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            padding: 10px;
        }

        .authBtn a:hover {

            color: white;
        }

        .section {
            height: 90vh;
        }

        .sec-image {

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .image-container {

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 70%;
            width: 70%;
        }

        .sec-text {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        .max-width {
            max-width: 500px;
        }

        .sec-text-head {
            color: #FFF;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
        }

        .sec-text-para {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
        }

        .sec-text-btn {
            padding-top: 15px;
        }

        .sec-text-btn button {
            border-radius: 50px;
            background-color: #EC9C00;
            width: 200px;
            padding: 10px;
            font-size: xx-large;
            color: black;
            border: 3px solid black;
            box-shadow: 5px 5px 0px 1px #EC9C00;
            font-family: 'Jua';
        }

        .sec-text-btn button:active {
            transform: translateY(10px) translateX(10px);
            box-shadow: 0px 0px 0px 0px #EC9C00;
        }

        .footer-inner-container {
            width: 100vw;
            height: 100vh;
            background: #EC9C00;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex
        }

        .news-latter-form {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            display: flex;
            flex: 70%;
        }

        .news-latter-form-head {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            display: flex
        }

        .news-latter-form-head-heading {
            text-align: center;
            color: black;
            font-size: 32px;
            font-family: Jua;
            font-weight: 400;
            word-wrap: break-word
        }

        .news-latter-form-head-para {
            text-align: center;
            color: white;
            font-size: 24px;
            font-family: Jua;
            font-weight: 400;
            word-wrap: break-word
        }


        .news-latter-form-input {
            width: 640px;
            height: 54px;
            background: #D9D9D9;
            box-shadow: 0px 0px 0px 4px black;
            border: 4px #EC9C00 solid;
            font-size: x-large;
            text-align: center;
        }

        .news-latter-form-massage {
            text-align: center;
            color: black;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word
        }

        .news-latter-form-btn {
            position: relative;
            padding-left: 41px;
            padding-right: 41px;
            padding-top: 11px;
            padding-bottom: 11px;
            background: white;
            box-shadow: 4px 5px 0px 1px black;
            border-radius: 30px;
            border: 2px black solid;
            color: black;
            font-size: 32px;
            font-family: Jua;
            font-weight: 400;
            word-wrap: break-word;
            overflow: hidden;
        }

        .news-latter-form-btn::after {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            content: 'Subscribe';
            color: orange;
            font-size: 32px;
            font-family: Jua;
            font-weight: 400;
            border: 2px orange solid;
            transition: all .1s ease;
            border-radius: 30px;
            position: absolute;
            top: 0px;
            left: var(--var1);
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
        }

        .news-latter-form-btn:active {
            transform: translateY(10px) translateX(10px);
            box-shadow: 0px 0px 0px 0px black;
        }

        .news-latter-links {
            width: 100%;
            height: 100%;
            background: black;
            justify-content: center;
            align-items: center;
            gap: 70px;
            display: flex;
            flex: 30%
        }

        .news-latter-links-container {
            justify-content: center;
            align-items: center;
            gap: 86px;
            display: flex;
        }

        .links-col {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
        }

        .links-row-heading {
            color: orange;
            font-size: 20px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word
        }

        .links {
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word;
            text-decoration: none;
        }

        .links:hover {
            color: rgb(252, 215, 142) !important;
        }
    </style>
</head>

<body>
    <header>
        <nav class="row">
            <div class="logo col">Capybara</div>

            <div class="authBtn col-5">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <section class="section row">
                <div class="sec-image col">
                    <div class="image-container" style="background-image: url('/images/capys.png');">
                        &nbsp;
                    </div>
                </div>

                <div class="sec-text col">
                    <div class="sec-text-head max-width">
                        <h2>The only solution for likes
                            mining over comments</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        <p>The only solution for likes kajhfk akjefnd ijfdj aehfdus skhdf hefdue dhdhf euf eur hsdfiej
                            sdjh uef hds efheu hsdjds a efuhf wekfhef ,sdfh edf fdkjjf.</p>
                    </div>

                    <div class="sec-text-btn"><button id="signup-btn">Signup</button></div>
                </div>
            </section>

            <section class="section row">
                <div class="sec-text col align-items-end">
                    <div class="sec-text-head max-width">
                        <h2>Download our Ai based browser extension.</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        <p>What you lookin at? Is not the fact that you looked exactly like this capybara? Yes it it.
                            You are an ugly ass. So people do not expect any good words from your mouth. But dont worry
                            we got your back.</p>
                    </div>

                    <div class="sec-text-btn"><button id="download-btn">Download</button></div>
                </div>

                <div class="sec-image col">
                    <div class="image-container" style="background-image: url('/images/capybaraOrange.png');">
                        &nbsp;
                    </div>
                </div>
            </section>

            <section class="section row">

                <div class="sec-image col">
                    <div class="image-container" style="background-image: url('/images/capybaraOrange2.png');">
                        &nbsp;
                    </div>
                </div>

                <div class="sec-text col">
                    <div class="sec-text-head max-width">
                        <h2>Dont know how to use it? “Dont worry we got you”</h2>
                    </div>

                    <div class="sec-text-para max-width">
                        <p>Come on boomer! How retarded you are? Dont you know how to use a browser extension? Click on
                            the button below and go read our documentations.</p>
                    </div>

                    <div class="sec-text-btn"><button id="about-btn">About</button></div>
                </div>
            </section>

        </div>
    </main>

    <footer class="footer">
        <div class="footer-inner-container">
            <form action="" class="news-latter-form">
                <div class="news-latter-form-head">
                    <div class="news-latter-form-head-heading">SUBSCRIBE</div>
                    <div class="news-latter-form-head-para">To our news latter</div>
                </div>

                <input type="email" class="news-latter-form-input" required>

                <div class="news-latter-form-massage">
                    We’ll notify you first whenever we do any changes in our application or extension. <br />To stay
                    updated please subscribe to our news latter.<br />You can unsubscribe it anytime
                </div>

                <button class="news-latter-form-btn" type="submit">
                    Subscribe
                </button>
            </form>
            <div class="news-latter-links">
                <div class="news-latter-links-container">
                    <div class="links-col">
                        <div class="links-row-heading">About Me</div>
                        <a href="#" class="links">Github</a>
                        <a href="#" class="links">LinkedIn</a>
                        <a href="#" class="links">Portfolio</a>
                    </div>
                    <div class="links-col">
                        <div class="links-row-heading">Follow</div>
                        <a href="#" class="links">Instagram</a>
                        <a href="#" class="links">Facebook</a>
                        <a href="#" class="links">Twitter</a>
                    </div>
                    <div class="links-col">
                        <div class="links-row-heading">Support</div>
                        <a href="#" class="links">Gmail</a>
                        <a href="#" class="links">Discord</a>
                        <a href="#" class="links">Whats's App</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>

        const news_latter_form_btn = document.querySelector('.news-latter-form-btn');
        console.log(news_latter_form_btn);
        if (news_latter_form_btn) {

            news_latter_form_btn.addEventListener('mouseenter', (e) => {
                const root = document.querySelector(':root');
                root.style.setProperty('--var1', '0px');
            })

            news_latter_form_btn.addEventListener('mouseleave', (e) => {
                const root = document.querySelector(':root');
                root.style.setProperty('--var1', '-220px');
            })

            if (window.PointerEvent) {

                news_latter_form_btn.addEventListener('pointerdown', (e) => {

                    news_latter_form_btn.style.color = 'orange'
                })

                news_latter_form_btn.addEventListener('pointerup', (e) => {
                    console.log('lol');
                    news_latter_form_btn.style.color = 'black'
                })
            }

        }

        const signup_btn = document.getElementById('signup-btn');
        if (signup_btn) {
            signup_btn.addEventListener('click', (e)=>{
                window.location.href = "/signup";
            });
        }
        

        const about_btn = document.getElementById('about-btn');
        if (about_btn) {
            about_btn.addEventListener('click', (e)=>{
                window.location.href = '/about';
            })
        }
        
    </script>
</body>

</html>