<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - Privacy Policy</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/privacy-policy.css">
    
</head>

<body>
    <header>
        <nav class="row">
            <div class="logo col">Capybara</div>
        </nav>
    </header>

    <main>
        <div class="container d-flex align-items-center justify-content-center flex-column p-5">
            <h1>Privacy Policy</h1>

            <h2>Introduction</h2>

            <p>Welcome to Capybara-extension.com We value your privacy and are committed to protecting your personal
                information. This Privacy Policy explains how we collect, use, and safeguard your data when you create
                an account and use our browser extension. By accessing or using our services, you agree to the terms
                outlined in this policy.</p>

            <h2>information We collect</h2>

            <p>When you create an account on our website, we collect the following information:
            <ol>
                <li><strong>Access Key</strong>: Upon account creation, you receive an access key that allows you to use our browser extension.</li>
                <li><strong>Account Details</strong>: We collect basic account details such as your email address, username, and password.</li>
                <li><strong>Requests record</strong>: We collect basic download requests related information to make it easy for you track your requests.</li>

            </ol>
            </p>

            <h2>How We Use Your Information</h2>
            <p>We use your information for the following purposes:
                <ol>
                    <li><strong>Access to Browser Extension</strong>: Your access key enables you to use our browser extension seamlessly.</li>
                    <li><strong>Account Management</strong>: We use your account details to manage your account, provide customer support, and communicate with you.</li>
                    <li><strong>Improving User Experience</strong>: We analyze aggregated data to enhance our services, troubleshoot issues, and improve user experience.</li>
                </ol>
            </p>

            <h2>
                Third-Party Services
            </h2>

            <p>We may share your information with third-party services of the Digital Nausea Private Limited only for the following purposes:

                <ol>
                    <li><strong>Extension Functionality</strong>: To provide seamless functionality, we collaborate with third-party services related to our browser extension.</li>
                    <li><strong>Analytics</strong>: We use analytics tools to understand user behavior and improve our services.</li>
                </ol>
            </p>

            <h2>Your Rights</h2>

            <p>
                As a user, you have the following rights:
                <ol>
                    <li><strong>Access</strong>: You can request access to the personal information we hold about you.</li>
                    <li><strong>Correction</strong>: You can update or correct your account details.</li>
                    <li><strong>Deletion</strong>: You can request the deletion of your account and associated data.</li>
                </ol>
            </p>

            <h2>Updates to Privacy Policy</h2>
            <p>We may update this Privacy Policy periodically. Check our website for the latest version.</p>

            <h2>Contact Us</h2>
            <p>If you have any questions or concerns regarding your privacy, please contact us at digitalnausea@gmail.com </p>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="js/privacy-policy.js"></script>
</body>

</html>