<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapybaraComments - SignUp</title>
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Capybara Downloader - Download youtube videos and audios and etc." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <link rel="stylesheet" href="css/signUpEmailVerificationScreen.css">
    
</head>

<body>

    <div class="container login-container">

        <div class="verificationCard flex-column-and-centered">
            <h1>Enter Verification Code</h1>
            <p class='verificationCardMessage'>
                Please enter the verification code that<br />has been sent to your email address
            </p>
            <form id="email-verifying-form" class="flex-column-and-centered">
                <div class="verification-code-inputs">
                    <input type="text" class="inputBoxes ta-center" id="inputBox1" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox2" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox3" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox4" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox5" maxlength="1" minlength="1" required>
                    <input type="text" class="inputBoxes ta-center" id="inputBox6" maxlength="1" minlength="1" required>
                </div>
                <button type='submit' class='verifyBtn'>Verify</button>
            </form>

            <div class="resendContainer">
                <div class="resendCodeMessage">
                    <p>Verification Code is valid for only 15 Minutes. And you can ask for new verification code in
                        every 30 seconds</p>
                </div>
                <button disabled type="button" id='resendCodeBtn'>Resend Code</button>
            </div>

            <div class='vc-form-footer d-flex flex-row justify-content-center align-items-center'>
                <a href="/privacy-policy" target="_blank"
                    class='forget-password-form-footer-links text-decoration-none'>Privacy
                    Policy</a>
                <button type="button" id="goBackBtn" class='forget-password-form-footer-btn text-decoration-none'>Go
                    Back</button>
            </div>
        </div>
    </div>

    <div class="message-pop dis-none">
        <div class="cross-btn-container">
            <button type="button" class="cross-btn">✗</button>
        </div>
        <div class="message-pop-inner-container">
            <div class="head">Uh oh!</div>
            <div class="message"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="js/conf.js"></script>
    <script src="js/signUpEmailVerificationScreen.js"></script>
</body>

</html>