@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --var1: -220px;
}

body {
    overflow-x: hidden;
    background-color: #1E1E1E;
}

.message-pop {
    position: fixed;
    z-index: 1000;
    background-color: orange;
    min-width: 300px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 10px;
    padding-top: 0%;
    border: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: break-all;
}

.cross-btn {
    font-size: large;
    background-color: red;
    font-weight: 900;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cross-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.message-pop .message {
    color: black;
    font-size: medium;
    word-wrap: break-word;
}

.message-pop-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    color: black;
    font-size: x-large;
}

.dis-none {
    display: none !important;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.navigation-bar {
    width: 350px;
    height: 100%;
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.responsive-nav-bar-container {
    position: fixed;
    top: 0;
    background-color: orange;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: none !important;
    z-index: 10001;
}

.responsive-nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1E1E1E;
    top: -9000px;
    width: 100%;
    height: 100%;
    display: none !important;
    z-index: 10002;
}

.responsive-nav-bar .logo {
    font-size: xx-large;
}

/* Nav */

.logo {
    font-family: Leckerli One;
    color: white;
    font-size: large;
}

.navbar-list {
    list-style: none;
    padding-left: 0%;
}

.navbar-list li {
    padding: 0px 0px 25px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-family: jua;
    font-size: large;
}

a:hover {
    color: orange;
}

.logout-btn {
    gap: 5px;
    color: orange;
}

.logout-btn button {
    color: orange;
    background-color: transparent;
    border: none;
    font-family: Jua;
    font-size: large;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.color-orange {
    color: orange;
}

/* Section  */

section {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: Jua;
    gap: 20px;
}

.profile-container {
    width: 800px;
    height: 100%;
    background-color: #1A1A1A;
    color: white;
}

.inputs-container {
    width: 400px;
    gap: 20px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container label {
    width: 100%;
    padding-bottom: 10px;
}

.input-container input {
    color: white;
    font-size: large;
    width: 100%;
    padding: 10px;
    background-color: #474747;
    border: none;
}

.input-container a {
    width: 100%;
    font-size: small;
    text-align: end;
}

#save-btn {
    background-color: orange;
    border: 3px solid black;
    padding: 5px;
    width: 300px;
    font-size: x-large;
    color: black;
    box-shadow: 5px 5px 0px 0px orange;
    border-radius: 30px;

}

#save-btn:hover {
    background-color: rgb(223, 147, 5);
    box-shadow: 5px 5px 0px 0px rgb(223, 147, 5);
}


#save-btn:active {
    background-color: rgb(223, 147, 5);
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
}

.loading-window {
    position: fixed;
    z-index: 100000;
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    top: 0%;
    left: 0%;
}

.loading-window-heading {
    font-family: Jua;
    color: orange;
}

.loading-window-img-container {
    width: 400px;

}

.loading-window-img-container img {
    width: 100%;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent orange orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 900px) {
    .navigation-bar {
        display: none;
    }

    .responsive-nav-bar-container {
        display: block !important;
    }

    .responsive-nav-bar-container .material-symbols-outlined {
        font-size: xx-large;
    }

    .responsive-nav-bar {
        display: flex !important;
    }
}

@media screen and (max-width: 800px) {
    .profile-container {
        width: 100%;
    }
}

@media screen and (max-width:420px) {
    .inputs-container {
        padding: 5px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    #save-btn {
        width: 100%;
    }
}