@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Jua&display=swap');

body {
    overflow-x: hidden;
    background-color: #1E1E1E;
    font-family: Jua;
}

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-container h1 {
    color: orange;
    font-family: Jua;
}

.form-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form {
    width: 400px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input-container label {
    font-size: x-large;
    width: 100%;
    color: white;
}

.form-input-container input {
    background-color: white;
    font-family: inter;
    font-size: larger;
    padding: 10px;
    border: 4px solid orange;
    box-shadow: 0px 0px 0px 4px black;
    width: 100%;
}

.forget-password {
    width: 100%;
    text-align: end;
}

.forget-password a {
    color: orange;
    text-decoration: none;
    font-size: small;
}

.signup-form-btn-container {
    width: 100%;
}


.signup-form-btn-container button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: x-large;
    border: 2px solid black;
    box-shadow: 3px 4px 0px 0px black;
}

.signup-form-btn-container button:hover {
    background-color: rgb(199, 199, 199);
}

.form-link {
    font-size: small;
    color: orange;
}

.message-pop {
    position: fixed;
    z-index: 1000;
    background-color: orange;
    min-width: 300px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 10px;
    padding-top: 0%;
    border: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cross-btn {
    font-size: large;
    background-color: red;
    font-weight: 900;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cross-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.message-pop .message {
    color: black;
    font-size: medium;
    word-wrap: break-word;
}

.message-pop-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    color: black;
    font-size: x-large;
}

.dis-none {
    display: none !important;
}

.loading-window {
    position: fixed;
    z-index: 100000;
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    top: 0%;
    left: 0%;
}

.loading-window-heading {
    font-family: Jua;
    color: orange;
}

.loading-window-img-container {
    width: 400px;

}

.loading-window-img-container img {
    width: 100%;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent orange orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width:420px) {
    .signup-form {
        width: 100%;
    }
}